<nav class="h-16 border-b bg-white font-sans font-normal flex">
  <div class="flex items-center gap-6 h-full w-1/2 pl-4">
    <div
      class="h-8 w-8 bg-gray-dark rounded-full text-white grid place-content-center text-xl">
      P
    </div>
    <span class="text-neutral-400 text-lg">/</span>
    <div class="flex gap-2 items-center">
      <app-user-avatar [label]="getInitial()" />
      <span>Ugur Sadiklar</span>
    </div>
    <span class="text-neutral-400 text-lg">/</span>
    <div>Project Management App</div>
  </div>
  <div class="flex gap-4 items-center justify-end h-full w-1/2 pr-4">
    <div class="w-6 h-6 border border-black rounded-full"></div>
    <div class="card flex justify-content-center">
      <p-menu #menu [model]="items" [popup]="true" />
      <app-user-avatar
        [label]="getInitial()"
        (click)="menu.toggle($event)"
        class="hover:cursor-pointer" />
    </div>
  </div>
</nav>
