<div class="h-full w-dvw flex justify-center items-center">
  <div class="h-[400px] w-[600px] shadow-xl rounded-lg border p-8 bg-white">
    <h1 class="text-3xl font-bold">Welcome!</h1>
    <form [formGroup]="registerData" (submit)="onRegister()">
      <div class="mt-4">
        <label for="email" class="block text-sm font-medium text-gray-700"
        >Email</label
        >
        <input
          placeholder="johndoe@example.com"
          type="email"
          id="email"
          name="email"
          formControlName="email"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
      </div>
      <div class="mt-4">
        <label for="email" class="block text-sm font-medium text-gray-700"
        >Username</label
        >
        <input
          placeholder="john doe"
          type="text"
          id="username"
          name="username"
          formControlName="username"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
      </div>
      <div class="mt-4">
        <label for="password" class="block text-sm font-medium text-gray-700"
        >Password</label
        >
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
      </div>
      <div class="mt-4">
        <button
          id="login"
          type="submit"
          class="w-full bg-black text-white p-2 rounded-md">
          Register
        </button>
      </div>
    </form>
  </div>
</div>
