<header class="h-16 bg-gray-800 text-white flex items-center justify-center">
<nav>
  <ul class="flex gap-2">
    @if (authService.currentUserSig() === null) {
      <li>
        <a
          routerLink="/login"
          routerLinkActive="active"
          data-testid="login-anchor"
        >Login</a
        >
      </li>
      <li>
        <a
          routerLink="/register"
          routerLinkActive="active"
        >Registration</a
        >
      </li>
    }
    @if (authService.currentUserSig()) {
      <li>
        <button (click)="authService.logout()">Logout</button>
      </li>
    }
  </ul>
</nav>
</header>
